@font-face {
    font-family: 'Merriweather';
    src: url(assets/fonts/Merriweather-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-Bold.ttf);
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
    /*background-color: black;*/
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
    /*border: 1px solid red;*/
}
.header {

}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url(assets/img/header/header-bg.jpg);
    height: 90px;
    padding: 0 20px;
    /*border: 1px solid blue;*/
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url(assets/png/logo.png);
    background-position: center;
    background-repeat: no-repeat;
}

.nav {
    width: 500px;
    margin-left: auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 30px;
}

.nav-item {
    display: inline;
}

.nav-link {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70px;
}

.lang, .slash {
    font-size: 20px;
    font-weight: 700;
    /*padding: 5px;*/
}

.lang a {
    color: #FFFFFF;
    text-decoration: none;
}

.lang a span {
    color: #bdae82;
}

.main {
    /*border: 1px solid black;*/
}

.section {
    display: flex;
    /*border: 1px solid red;*/
}

.section-hero {
    display: flex;
    background-image: url(assets/img/hero/bg.jpg);
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 820px;
    /*border: 1px solid green;*/
}

.section-hero-represent {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 330px;
    margin-left: 5.56%;
    margin-top: 160px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /*border: 1px solid green;*/
}

.section-hero-title {
    font-family: Merriweather, serif;
    font-size: 60px;
    line-height: 120px;
    margin: 0 0 10px;
}

.section-hero-represent p {
    font-size: 20px;
    line-height: 40px;
    margin: 0 0 25px;
    width: 470px;
}

.button-gold {
    width: 220px;
    height: 55px;
    background-color: #bdae82;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    margin-bottom: 0;
    border: 0;
}





