@font-face {
    font-family: 'Merriweather';
    src: url(assets/fonts/Merriweather-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-Bold.ttf);
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
}

.header {

}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    padding: 0 20px;
    background-image: url(assets/img/header/header-bg.jpg);
}

.logo-icon {
    width: 50px;
    height: 50px;
    fill: #FFFFFF;
    transition: 0.25s;
}

.nav {
    width: 500px;
    margin-left: auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    list-style: none;
}

.nav-item {
    /*display: inline;*/
}

.nav-link {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.25s;
}

.switch {
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    width: 70px;
}

.lang, .slash {
    font-size: 20px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.lang a {
    color: #FFFFFF;
}

.lang a:hover {
    color: #bdae82;
}

.main {

}

.section {
    display: flex;
}

.section-hero {
    display: flex;
    background-image: url(assets/img/hero/bg.jpg);
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 820px;
}

.section-hero-represent {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 330px;
    margin-left: 5.56%;
    margin-top: 160px;
}

.section-hero-title {
    margin: 0 0 10px;
    font-family: Merriweather, serif;
    font-size: 60px;
    line-height: 120px;  
}

.section-hero-represent p {
    font-size: 20px;
    line-height: 40px;
    margin: 0 0 25px;
    width: 470px;
}

.button-gold {
    width: 220px;
    height: 55px;
    background-color: #bdae82;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    position: relative;
    padding: 0;
    margin-bottom: 0;
    border: 0;
}

.button-gold:hover,
.button-gold:active {
    border: 2px solid #000000;
    cursor: pointer;
    transition: 0.2s;
}

.section-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    display: flex;
    justify-content: center;
    margin: 100px auto 60px;
    width: 48.61%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

.section-title-h2 {
    padding: 0 20px;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    color: #bdae82;
    background-color: #000000;
}

.skills-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1400px;
    margin: auto;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 240px;
    background-position: center;
    background-repeat: no-repeat;
}

.skill-item-img{
    width: 62px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.skill-item-img-1 {
    background-image: url(assets/svg/skills/camera.svg);
    width: 62px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.skill-item-img-2 {
    background-image: url(assets/svg/skills/video.svg);
    width: 62px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.skill-item-img-3 {
    background-image: url(assets/svg/skills/image.svg);
    width: 62px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.skill-item-img-4 {
    background-image: url(assets/svg/skills/mic.svg);
    width: 62px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.skill-item-subtitle {
    margin: 50px 0 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
}

.skill-item-text {
    margin: 20px 0 0;
    padding: 0 20px;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

.section-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-portfolio-title{
    
}

.section-portfolio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 895px;
    margin: auto;
}

.button-black {
    width: 220px;
    height: 55px;
    background-color: #000000;
    font-size: 20px;
    line-height: 40px;
    color: #bdae82;
    padding: 0;
    border: 2px solid #bdae82;
}

.button-black:active,
.button-black:hover  {
    background-color: #bdae82;
    border: none;
    color: #000000;
    transition: 0.2s;
    cursor: pointer;
}

.portfolio-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    width: 1400px;
    height: 1145px;
}

.portfolio-item-1 {
    width: 450px;
    height: 560px;
    background-image: url(assets/img/portfolio/portfolio-img-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

.portfolio-item-2 {
    width: 450px;
    height: 560px;
    background-image: url(assets/img/portfolio/portfolio-img-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

.portfolio-item-3 {
    width: 450px;
    height: 560px;
    background-image: url(assets/img/portfolio/portfolio-img-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

.portfolio-item-4 {
    width: 450px;
    height: 560px;
    background-image: url(assets/img/portfolio/portfolio-img-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio-item-5 {
    width: 450px;
    height: 560px;
    background-image: url(assets/img/portfolio/portfolio-img-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio-item-6 {
    width: 450px;
    height: 560px;
    background-image: url(assets/img/portfolio/portfolio-img-6.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.section-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-video-player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 705px;
    background-image: url(assets/img/video/video-player.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.button-video {
    background: none;
    border: none;
}

.play-hover {
    height: 130px;
    width: 130px;
    fill: #FFFFFF;
}

.section-price {
    display: flex;
    flex-direction: column;
}

.price-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1400px;
    margin: auto;
    margin-bottom: 100px;
}

.price-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 505px;
    padding: 43px 0 38px;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid #bdae82;
}

.tariff {
    margin: 0;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 56px;
}

.price {
    margin: 20px 0;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    color: #bdae82;
}

.tarif-description {
    margin: 0 0 38px;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

.section-contacts {
    width: 1440px;
    height: 700px;
    padding: 60px 20px;
    background-image: url(assets/img/contacts/contacts.jpg);
    background-size: auto 700px;
    background-position: center center;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    display: flex;
    width: 450px;
    height: 445px;
}

.contacts-title {
    padding: 0;
    margin: 0 0 40px;
    background: none;
}

.input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 20px;
    border: 3px solid #bdae82;
    outline: none;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    background: rgba(0,0,0, 0.5);
    
}

input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
   -webkit-text-fill-color: #bdae82 !important;
}

::placeholder {
    color: #bdae82;    
}

.input-textarea {
    min-height: 100px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 40px;
    font-family: inherit;
    color: #FFFFFF;
    outline: none;
    resize: none;
}

.footer {

}

.footer-container {
    display: flex;
    width: 1440px;
    height: 150px;
    font-size: 20px;
    line-height: 50px;
    align-items: center;
    padding: 20px;
    margin: auto;
    justify-content: space-between;
}

.footer-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 182px;
    padding-right: 13px;
}

.social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 188px;
    height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icon {
    width: 32px;
    height: 32px;
    fill: #FFFFFF;
    transition: 0.25s;
}

.play-hover:hover,
.logo-icon:hover,
.social-icon:hover {
    fill: #bdae82;
    transition: 0.25s;
    cursor: pointer;
}

.github-link:hover,
.rss-link:hover,
.nav-link:hover {
    color: #bdae82;
    transition: 0.25s;
}


.footer-container span a,
.footer-data span a {
    text-decoration: none;
    color: inherit;
}